<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.erp.mapper.productionPlanMapper.productionPlanMapper">
	
	<insert id="addProductionPlan">
	insert into M_APPLY values(null,#{sc_id},
	#{df.product_id},#{df.product_name},
	#{df.product_describe},#{df.type},
	#{df.amount},#{user.login_id},null,#{user.login_id},now(),null,null,null,'S001-0','P001-0','SC001'
	);
	</insert>
	<select id="test" resultType="String">
	select id from M_APPLY  ORDER BY id DESC LIMIT 1
	</select>
	
	<update id="auditProductionPlan">
	update m_apply set checker=#{user.login_id},
	<choose>
	<when test="app1.check_suggestion!=null">
	check_suggestion=#{app1.check_suggestion},
	</when>
	<otherwise></otherwise>
	</choose>check_time=now(),
	<choose>
	<when test="app1.audit==1">
	check_tag='S001-1',panduan='SC002'
	</when>
	<otherwise>check_tag='S001-2',panduan='SC009' </otherwise>
	</choose>
	
	where id=#{app1.id}
	
	</update>
	
	
	
	<select id="d_fileAll" resultType="d_file">
	select * from d_file  where type='Y001-1' and design_module_tag='W001-1'  and check_tag='S001-1' ;
	</select>
	
	<select id="sccxAll" resultType="m_apply">
	SELECT * FROM m_apply ;
	</select>
	
	<select id="scjhshAll" resultType="m_apply">
		select * from m_apply  where check_tag='S001-0' AND panduan='SC001';
	</select>
	
	<select id="scjhshXX" resultType="m_apply">
	select * from m_apply where id=#{id}
	</select>
	
	
	<select id="zdscpgdAll" resultType="m_apply">
			select * from m_apply  where check_tag='S001-1' AND panduan='SC002';
	
	</select>
	
	</mapper>