<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.erp.mapper.productFilesMapper.productFilesMapper">
	

	<insert id="addProductFilesService">
		INSERT INTO D_FILE VALUES(null,#{file.product_id},#{file.product_name},
		<choose>
			<when test="file.factory_name!=''">
				#{file.factory_name}
			</when>
			<otherwise>				
				null
			</otherwise>
		</choose>
		,#{file.first_kind.kind_id},#{file.first_kind.kind_name},
		#{file.second_kind.kind_id},#{file.second_kind.kind_name},#{file.third_kind.kind_id},#{file.third_kind.kind_name},
		<choose>
			<when test="file.product_nick==''">
				null
			</when>
			<otherwise>
				#{file.product_nick}
			</otherwise>
		</choose>
		,#{file.type},#{file.product_class},
		<choose>
			<when test="file.personal_unit==''">
				null
			</when>
			<otherwise>
				#{file.personal_unit}
			</otherwise>
		</choose>
		,<choose>
			<when test="file.personal_value==''">
				null
			</when>
			<otherwise>
				#{file.personal_value}
			</otherwise>
		</choose>,
		<choose>
			<when test="file.provider_group==''">
				null
			</when>
			<otherwise>
				#{file.provider_group}
			</otherwise>
		</choose>,
		<choose>
			<when test="file.warranty==''">
				null
			</when>
			<otherwise>
				#{file.warranty}
			</otherwise>
		</choose>,
		<choose>
			<when test="file.twin_name==''">
				null
			</when>
			<otherwise>
				#{file.twin_name}
			</otherwise>
		</choose>,
		<choose>
			<when test="file.twin_id==''">
				null
			</when>
			<otherwise>
				#{file.twin_id}
			</otherwise>
		</choose>,
		<choose>
			<when test="file.lifecycle==''">
				null
			</when>
			<otherwise>
				#{file.lifecycle}
			</otherwise>
		</choose>,
		<choose>
			<when test="file.list_price==''">
				null
			</when>
			<otherwise>
				#{file.list_price}
			</otherwise>
		</choose>,
		<choose>
			<when test="file.cost_price==''">
				null
			</when>
			<otherwise>
				#{file.cost_price}
			</otherwise>
		</choose>,
		<choose>
			<when test="file.cost_price==''">
				null
			</when>
			<otherwise>
				#{file.cost_price}
			</otherwise>
		</choose>,
		<choose>
			<when test="file.amount_unit==''">
				null
			</when>
			<otherwise>
				#{file.amount_unit}
			</otherwise>
		</choose>,
		<choose>
			<when test="file.product_describe==''">
				null
			</when>
			<otherwise>
				#{file.product_describe}
			</otherwise>
		</choose>,
		<choose>
			<when test="file.responsible_person==''">
				null
			</when>
			<otherwise>
				#{file.responsible_person}
			</otherwise>
		</choose>,
		<choose>
			<when test="file.register==null">
				null
			</when>
			<otherwise>
				#{file.register.login_id}
			</otherwise>
		</choose>,
		now(),null,null,
		'S001-0',null,null,'D002-0','J001-0',0,'C001-0','W001-0','G001-0','K001-0'
		);
	</insert>
	
	<update id="addD_moduledeSign_module_tag">
	update d_file set design_module_tag='W001-1' where product_id=#{id}
	</update>
	
	<select id="auditAll" resultType="d_file">
	SELECT * FROM D_FILE WHERE check_tag='S001-0' or check_tag='S001-2' ;
	</select>
	
	<select id="auditProductFilesXX" resultType="d_file">
	SELECT * FROM D_FILE WHERE id=#{id} ;
	</select>
	
	<update id="auditProductFiles">
	
	
	update D_FILE set checker=#{user.login_id},check_time=now(),
	<choose>
			<when test="audit=1">
				check_tag='S001-1'
			</when>
			<otherwise>
				check_tag='S001-2'
			</otherwise>
		</choose> where id=#{id}			
	</update>
	
	<update id="auditD_module">
	update D_MODULE set checker=#{user.login_id},check_time=now(),
	<choose>
			<when test="audit=1">
				check_tag='S001-1'
			</when>
			<otherwise>
				check_tag='S001-2'
			</otherwise>
		</choose> where id=#{id}
	</update>
	
	
	
	<select id="designProductFiles" resultType="d_file">
	   select * from d_file where type='Y001-1' and design_module_tag='W001-0';
	</select>
	
	<select id="designProductFilesXX" resultType="d_file">
	  select * from d_file where id=#{id};
	</select>
	
	<select id="designProductMaterial" resultType="d_file">
	   select * from d_file where type='Y001-2';
	</select>
	
	<insert id="addD_module">
	
	insert into D_MODULE values(null,
	#{dm.design_id},#{dm.product_id},#{dm.product_name},
	#{dm.first_kind.kind_id},#{dm.first_kind.kind_name},
	#{dm.second_kind.kind_id},#{dm.second_kind.kind_name},#{dm.third_kind.kind_id},#{dm.third_kind.kind_name},
	#{dm.designer.login_id},<choose>
	<when test="dm.module_descri!=null">
	#{dm.module_descri}
	</when>
	<otherwise>null</otherwise></choose>,
	#{dm.cost_price_sum},#{dm.register.login_id},now(),
	null,null,null,null,'S001-0','B002-0'
	);
	
	</insert>
	
	<insert id="addDetails">
	insert into D_MODULE_DETAILS values(
	null,#{de.parent_id},#{de.details_number},#{de.product_id},
	#{de.product_name},#{de.type},
	<choose>
	<when test="de.product_describe!=null">
	#{de.product_describe}
	</when>
	<otherwise>null</otherwise></choose>,
	<choose>
	<when test="de.amount_unit!=null">
	#{de.amount_unit}
	</when>
	<otherwise>null</otherwise></choose>,
	#{de.amount},#{de.residual_amount},
	#{de.cost_price},#{de.subtotal}
	);
	
	</insert>
	
	<select id="test" resultType="String">
   select id from D_MODULE order by id DESC limit 1
   </select>
   <select id="test1" resultType="String">
   select id from d_file order by id DESC limit 1
   </select>
   
    <select id="test2" resultType="String">
   select id from D_CONFIG_FILE_KIND order by id DESC limit 1
   </select>
   
   <select id="D_CONFIG_FILE_KINDByid" resultType="D_CONFIG_FILE_KIND">
   SELECT * FROM D_CONFIG_FILE_KIND WHERE id=#{id} ;
   </select>
   
   <select id="getdeee" resultType="d_file">
   select * from d_file where id=#{id}
   </select>
   
   <select id="D_moduleAll" resultType="D_module">
SELECT id,design_id,product_id,product_name,designer AS designerr,register_time,cost_price_sum FROM D_MODULE WHERE check_tag='S001-0';
   </select>
   
   <resultMap type="D_module" id="m11">
		<!-- 主键使用id标签映射， 其它列使用result标签映射 -->
		<id property="id" column="id" />
		<result property="design_id" column="design_id" />  
		<result property="product_id" column="product_id" />
		<result property="product_name" column="product_name" />
		<result property="module_descri" column="module_descri" />
		<result property="cost_price_sum" column="cost_price_sum" />
		<!-- 关联集合对象 -->
		<association property="designer" 
            select="com.erp.mapper.productFilesMapper.productFilesMapper.selectNameId" column="designer">     
        </association>
		<collection property="D_module_details" ofType="D_module_details" 
		     select="com.erp.mapper.productFilesMapper.productFilesMapper.selectByTid" column="id">
		</collection>
 		 </resultMap> 
 		 
   <select id="D_moduleXX" resultMap="m11">
   select * from D_module where id=#{id}
   </select>
   
   <select id="selectByTid" resultType="D_module_details">
   select * from D_module_details where parent_id=#{id}
   </select>
   
   <select id="selectNameId" resultType="User">
      select * from sys_users where login_id=#{id}
   
   </select>
   
   <select id="cpdacx" resultType="d_file">
   select * from d_file
   </select>
   <select id="cpdacxzs" resultType="int">
   select count(*) from d_file
   </select>
</mapper>