<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>H+ 后台主题UI框架 - 数据表格</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> <link href="css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
	<link href="css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
     <link href="css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
<link rel="stylesheet" th:href="@{/css/public.css}" media="all" />
<style type="text/css">
input{
	  width:50%;
}
</style>
</head>
<!--  border:none;-->
<body class="gray-bg">
    <div id="app">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>库存管理<small>  安全库存配置管理  --> 安全库存配置单变更</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <button class="btn  btn-outline" type="button" name="refresh" title="刷新">
                            	<i class="glyphicon glyphicon-repeat"></i>
                            </button>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                	<th>配置单编号</th>
                                    <th>产品编号</th>
									<th>产品名称</th>
									<th>用途类型</th>
									<th>I级分类</th>
									<th>II级分类</th>
									<th>III级分类</th>
									<th>登记时间</th>
									<th>变更</th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr th:each="file:${list}">
                                	<td th:text="${file.store_id}"></td>
									<td th:text="${file.product_id}"></td>
									<td th:text="${file.product_name}"></td>
									
									<td th:if="${file.type=='Y001-1'}">商品</td>
									<td th:if="${file.type=='Y001-2'}">物料</td>
									
									<td th:text=${file.first_kind_name}></td>
									<td th:text=${file.second_kind_name}></td>
									<td th:text=${file.third_kind_name}></td>
									<td th:text=${file.register_time}></td>
									<td>
									  <button id="zd" class="btn btn-info zd" data-toggle="modal" data-target="#myModal">变更</button>
									</td>
								</tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

     
     <!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div style="width: 80%" class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h5>库存管理<small>安全库存配置管理  --> 制定安全库存配置单</small></h5>
					</div>
					<div class="modal-body">
						<form class="layui-form">
								<div class="layui-form-item layui-row layui-col-md10 layui-col-xs12">
								<label class="layui-form-label" style="font-size: 12px;">配置单编号</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input userName"
											lay-verify="required" name="store_id" placeholder="不可选中" disabled="disabled">
								</div>
							</div>
							<br />
							<div class="layui-row">
								<div class="magb15 layui-col-md4 layui-col-xs12">
									<label class="layui-form-label" style="font-size: 12px;">产品名称</label>
									<div class="layui-input-block">
										<input type="text" class="layui-input userName"
											lay-verify="required" name="product_name" placeholder="不可选中" disabled="disabled">
									</div>
								</div>
								<div class="magb15 layui-col-md2 layui-col-xs12"></div>
								<div class="magb15 layui-col-md4 layui-col-xs12">
									<label class="layui-form-label" style="font-size: 12px;">产品编号</label>
									<div class="layui-input-block">
										<input type="text" class="layui-input userName"
											lay-verify="required" name="product_id"  placeholder="不可选中" disabled="disabled">
									</div>
								</div>
							</div>
							<br />

							<div class="layui-row">
								<div class="magb15 layui-col-md4 layui-col-xs12">
									<label class="layui-form-label" style="font-size: 12px;">库存预警下限数</label>
									<div class="layui-input-block">
										<input type="text" class="layui-input userName"
											lay-verify="required" placeholder="请输入数值" name="min_amount">
									</div>
								</div>

								<div class="magb15 layui-col-md2 layui-col-xs12"></div>
								<div class="magb15 layui-col-md4 layui-col-xs12">
									<label class="layui-form-label" style="font-size: 12px;">库存预警上限数</label>
									<div class="layui-input-block">
										<input type="text" class="layui-input userName"
											lay-verify="required"  placeholder="请输入数值" name="max_amount" >
									</div>
								</div>
							</div>
							<br /> <br />

							<table class="table" id="tab">
								<tr>
                                	<th>序号</th>
                                    <th>仓库名称</th>
									<th>最大存储量</th>
									<th>存储单位</th>
                                </tr>
								
							</table>
							<br /> <br />

							<div class="layui-row">
								<div class="magb15 layui-col-md4 layui-col-xs12">
									<label class="layui-form-label" style="font-size: 18px;">变更人</label>
									<div class="layui-input-block">
										<input type="text"  class="layui-input userName"
										 th:value="${username}"	lay-verify="required" placeholder="请输入变更人" name="register">
									</div>
								</div>

								<div class="magb15 layui-col-md2 layui-col-xs12"></div>
								
								<div class="magb15 layui-col-md1 layui-col-xs12">
									<span>复核时间：</span>
								</div>

								<div id="datetime" class="magb15 layui-col-md2 layui-col-xs12">
									<script>
										setInterval(
												"document.getElementById('datetime').innerHTML=new Date().toLocaleString();",
												1000);
									</script>
								</div>
							</div>

							<div
								class="layui-form-item layui-row layui-col-md10 layui-col-xs12">
								<label class="layui-form-label" style="font-size: 17px;">配置要求</label>
								<div class="layui-input-block">
									<textarea placeholder="请输入信息" name="config" class="layui-textarea userDesc"></textarea>
								</div>
							</div>
							<br />

							<div class="layui-row">
								<div class="magb15 layui-col-md1 layui-col-xs12"></div>
							</div>



							<!--操作-->
							<script type="text/html" id="userListBar">
								<input type="radio"/>
							</script>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" id="btj">返回</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" id="cxtj">重新提交</button>
					</div>
				</div>
			</div>
		</div>
		
    </div>
    <script src="js/jquery.min.js?v=2.1.4"></script>
    <script src="js/bootstrap.min.js?v=3.3.5"></script>
    <script src="js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="js/content.min.js?v=1.0.0"></script>
    <script>
    $(document).ready(function(){
    	$(".dataTables-example").dataTable();
    	var oTable=$("#editable").dataTable();
    	oTable.$("td").editable("../example_ajax.php",{
    		"callback":function(sValue,y){
    			var aPos=oTable.fnGetPosition(this);
    			oTable.fnUpdate(sValue,aPos[0],aPos[1])},
    		"submitdata":function(value,settings){
    			return{"row_id":this.parentNode.getAttribute("id"),"column":oTable.fnGetPosition(this)[2]}},"width":"90%","height":"100%"})
    });
    $("#zd").click(function(){
    	var id=$(this).parent().parent().children(0).html();
		$("#tab  tr:not(:first)").html("");
    	$.post("aqkcpzdbgcx",{"id":id},back,"Json")
		function back(a){
			/* console.log(a); */
			$("[name='store_id']").val(a["store_id"]);
			$("[name='product_name']").val(a["product_name"]);
			$("[name='product_id']").val(a["product_id"]);
			$("[name='min_amount']").val(a["min_amount"]);
			$("[name='max_amount']").val(a["max_amount"]);
			var haha=a["max_capacity_amount"];
			$.post("cxkcbxx",back,"Json")
    		function back(b){
    			  var node=$("<tr><td>"+b["id"]+"</td><td>"+b["housename"]+"</td><td><input name='max_capacity_amount' value="+haha+"></td><td></td></tr>");
    			    $("#tab").append(node);
    		}
		}
	  })
	 $("#cxtj").click(function(){
    		var store_id=$("[name='store_id']").val();
			var min=$("[name='min_amount']").val();
			var max=$("[name='max_amount']").val();
			var maxca=$("[name='max_capacity_amount']").val();
			var config=$("[name='config']").val();
			var check_tag="S001-2";
			$.post("aqkcpzdbgtj",{"store_id":store_id,"min_amount":min,"max_amount":max,"max_capacity_amount":maxca,"config":config,"check_tag":check_tag},back,"text");
			function back(a){
				if(a>0){
					swal({title:"变更成功",text:"需要审核！",type:"success"},
							function(){	window.location="aqkcpzdbg"}
				     )
				}
			}
		  })
	  
       function fnClickAddRow(){
    	   $("#editable").dataTable().fnAddData(["Custom row","New row","New row","New row","New row"])};
</script>
</body>
</html>